<div class="container">



    <div class="row">
      <div class="col">
        
      </div>

      <div class="col-6">
        <div class="card">

          <div *ngIf="this.alertStatus" [ngClass]="this.alertClass" style="margin: 2%;" role="alert">
            {{this.alertText}}
          </div>

            <div class="card-body">
                <form class="row g-3" (change)="registerOnChange()">
                    <legend style="color: green;"><b>Register User</b></legend>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Full Name</label>
                      <input type="text" class="form-control" id="inputEmail4" name="fullName" [(ngModel)]="this.users.fullName">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputPassword4" name="userEmail" [(ngModel)]="this.users.userEmail">
                    </div>
                    <div class="col-12">
                      <label for="departmentId" class="form-label">Select the Department</label>
                        <select class="form-select" aria-label="Default select example" name="departmentId" [(ngModel)]="this.users.departmentId">
                            <option value="1">Development</option>
                            <option value="2">Sales & Marketing</option>
                            <option value="3">Operation and Logistics</option>
                          </select>
                    </div>
                    <div class="col-6">
                      <label for="inputAddress2" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputAddress2" name="userPassword" [(ngModel)]="this.users.userPassword">
                    </div>
                    <div class="col-6">
                        <label for="inputAddress2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="inputAddress2" name="confirmPassword" [(ngModel)]="this.confirmPassword">
                      </div>
                    
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
                    </div>
                  </form>
            </div>
        </div>
      </div>

      <div class="col">
        
      </div>
    </div>
  </div>


