<div class="container text-center">
    <div class="row alert alert-primary">
      <div class="col">
        Department: Development
      </div>
      <div class="col">
        Number of Uploads: 2
      </div>
      <div class="col">
        Number of Downloads: 2
      </div>
    </div>

    &nbsp;

    <div>
      <button type="button" class="btn btn-primary btn-lg" (click)="clickingOnUpload()">Upload File</button>
      &nbsp;
      &nbsp;
      <button type="button" class="btn btn-secondary btn-lg" (click)="clickingDownload()">Download File</button>
    </div>
  </div>